<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>STTK Hospital</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif;
    }

    body,
    html {
      height: 100%;
      color: #777;
      line-height: 1.8;
    }

    /* Create a Parallax Effect */
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    /* First image (Logo. Full height) */
    .bgimg-1 {
      background-image: url('/w3images/parallax1.jpg');
      min-height: 100%;
    }

    /* Second image (Portfolio) */
    .bgimg-2 {
      background-image: url("/w3images/parallax2.jpg");
      min-height: 400px;
    }

    /* Third image (Contact) */
    .bgimg-3 {
      background-image: url("/w3images/parallax3.jpg");
      min-height: 400px;
    }

    .w3-wide {
      letter-spacing: 10px;
    }

    .w3-hover-opacity {
      cursor: pointer;
    }

    /* Turn off parallax scrolling for tablets and phones */
    @media only screen and (max-device-width: 1600px) {

      .bgimg-1,
      .bgimg-2,
      .bgimg-3 {
        background-attachment: scroll;
        min-height: 400px;
      }
    }
  </style>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top w3-center">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
        onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="https://sttk.herokuapp.com/admin/home" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
      <a href="https://sttk.herokuapp.com/admin/appointments" class="w3-bar-item w3-button w3-hide-small"><i
          class="fa fa-user"></i> REGISTRATION</a>
      <a href="https://sttk.herokuapp.com/admin/consultations" class="w3-bar-item w3-button w3-hide-small"><i
          class="fa fa-user"></i> CONSULTATION</a>
      <a href="https://sttk.herokuapp.com/logout" class="w3-bar-item w3-button w3-hide-small"><i
          class="fa fa-envelope"></i> LOGOUT</a>

      </a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
      <a href="https://sttk.herokuapp.com/admin/home" class="w3-bar-item w3-button" onclick="toggleFunction()">HOME</a>
      <a href="https://sttk.herokuapp.com/admin/appointments" class="w3-bar-item w3-button"
        onclick="toggleFunction()">REGISTRATION</a>
      <a href="https://sttk.herokuapp.com/admin/consultations" class="w3-bar-item w3-button"
        onclick="toggleFunction()">CONSULTATION</a>
      <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGOUT</a>

    </div>
  </div>


  <!-- Container (About Section) -->
  <div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">Registration and Consultation for STTK Hospital</h3>
    <p class="w3-center"><em>Appointment Lists</em></p>
    


  
  


  <div style="overflow-x:auto;">
    <table>
      <tr>

        <th>Name</th>
        <th>Phone</th>
        <th>EMail</th>
        <th>Gender</th>
        <th>Doctor</th>
        <th>Department</th>
        <th>Visit</th>
        <th>Date</th>
        <th>Time</th>
        <th>Message</th>
        <th>Reference</th>
        <th>Status</th>
        <th>Action</th>
      </tr>


      <% data.forEach(function(appointment){ %>
      <tr>

        <td><%= appointment.name %></td>
        <td><%= appointment.phone %></td>
        <td><%= appointment.email %></td>
        <td><%= appointment.gender %></td>
        <td><%= appointment.doctor %></td>
        <td><%= appointment.department %></td>
        <td><%= appointment.visit %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.time %></td>
        <td><%= appointment.message %></td>
        <td><%= appointment.ref %></td>
        <td><%= appointment.status %></td>
        <td><a href="updateappointment/<%= appointment.doc_id %>">Edit</a> | Delete</td>
      </tr>
      <% }); %>

    </table>
  </div>
</div>

  -- Footer -->
  <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
      <p>Developed by Wint Nandar Aye</a></p>
  </footer>

  <script>
      // Modal Image Gallery
      function onClick(element) {
          document.getElementById("img01").src = element.src;
          document.getElementById("modal01").style.display = "block";
          var captionText = document.getElementById("caption");
          captionText.innerHTML = element.alt;
      }

      // Change style of navbar on scroll
      window.onscroll = function () { myFunction() };
      function myFunction() {
          var navbar = document.getElementById("myNavbar");
          if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
              navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
          } else {
              navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
          }
      }

      // Used to toggle the menu on small screens when clicking on the menu button
      function toggleFunction() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace(" w3-show", "");
          }
      }
  </script>

</body>

</html>