<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>consultation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        const APP_ID = 628101627852748;
        var senderID = "";

        window.extAsyncInit = function () {
            MessengerExtensions.getContext(APP_ID,
                function success(thread_context) {
                    senderID = thread_context.psid;
                },
                function error(err) {
                    console.log(err);
                }
            );
        };
    </script>
    <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
        <h3><%= title %></h3>

        <form id="form" enctype="multipart/form-data" method="post" action="https://sttk.herokuapp.com/webview2/">
            <% updateData.forEach(function(appointment){ %>
            <div class="w3-session">
                <label for="name">Doctor</label>
                <input type="text" class="w3-input w3-border" name="doctor" value="<%= appointment.doctor %>" ><br>
            </div>
            <div class="w3-session">
                <label for="name">Department</label>
                <input type="text" class="w3-input w3-border" id="department" name="department" value="<%= appointment.department %>" readonly><br>
            </div>
            <div class="w3-session">
                <label for="name">Date</label>
                <input type="date" class="w3-input w3-border" name="date" value="<%= appointment.date %>"><br>
            </div>
            <div class="w3-session">
                <label for="name">Time</label>
                <input type="time" class="w3-input w3-border" name="time" value="<%= appointment.time %>"><br>
            </div>
            <div class="w3-session">
                <label for="name">Full Name</label>
                <input type="text" class="w3-input w3-border" id="name" name="name" value="<%= appointment.name %>"><br>
            </div>
            <div class="w3-session">
                Gender <br>
                <input type="radio" class="w3-radio" id="male" name="gender" value="Male" <%if(appointment.gender == "male"){%> <%="checked"%> <%}%>>
          <label for="male">Male</label>
          <input type="radio" class="w3-radio" id="female" name="gender" value="Female" <%if(appointment.gender == "female"){%> <%="checked"%> <%}%>>
          <label for="female">Female</label><br>  <br>
            </div>
            <div class="w3-session">
                <label for="name">Phone</label>
                <input type="text" class="w3-input w3-border" name="phone" value="<%= appointment.phone %>"><br>
            </div>

            <div class="w3-session">
                <label for="email">Email</label>
                <input type="email" class="w3-input w3-border" id="email" name="email" value="<%= appointment.email %>"><br>
            </div>
            <div class="w3-session">
                <label for="name">Message</label>
                <textarea class="w3-input w3-border" name="message" rows="4" cols="50"><%= appointment.message %></textarea><br>

            </div>
            
            <input type="hidden" id="sender" name="sender" value="<%= sender_id %>"><br>
            <input type="hidden"  name="doc_id" value="<%= appointment.doc_id %>">
            <input type="hidden" name="ref" value="<%= appointment.ref %>">
            <input type="hidden" name="status" value="<%= appointment.status %>">
            <input type="submit" value="Submit">
            <% }); %>
        </form>
    </div>


    <script>


        const windowShut = () => {

            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("success");
            }, function error(err) {
                console.log(err);
            });
        }

        document.getElementById("form").addEventListener("submit", windowShut);

        /*
         const postFormData = (data) => {
         var xhr = new XMLHttpRequest();
         xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
         xhr.setRequestHeader('Content-Type', 'application/json');
         xhr.send(JSON.stringify(data));
         } */



    </script>

</body>

</html>